@use "../design-tokens/color";
@use "../design-tokens/gradient";
@use "../design-tokens/shadow";
@use "../design-tokens/typography";

@mixin Manifold__Button {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  padding: 10.5px 21px;
  color: color.$color-grayDarker;
  font-weight: 500;
  font-size: typography.$typography-body-fontSize;
  font-family: typography.$typography-body-fontFamily;
  line-height: 1;
  white-space: nowrap;
  text-decoration: none;
  background: color.$color-white;
  border-color: color.$color-utilitiesGray;
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;
  box-shadow: shadow.$shadow-near;
  cursor: pointer;
  transition-timing-function: linear;
  transition-duration: 150ms;
  transition-property: background-color, border-color, color, box-shadow, filter;
  appearance: none;

  &::before {
    position: absolute;
    top: -5px;
    right: -5px;
    bottom: -5px;
    left: -5px;
    border: 2px solid color.$color-blue;
    border-radius: 8px;
    transform: scale(0.95, 0.9); // x scale is more noticable
    opacity: 0;
    transition: opacity 150ms linear, transform 150ms cubic-bezier(0, 0.5, 0.5, 1);
    content: '';
    pointer-events: none;
  }

  &::-moz-focus-inner {
    border: 0;
  }

  &:focus,
  &:hover {
    border-color: #8f8f95;
  }

  &:focus {
    outline: none;

    &::before {
      transform: scale(1);
      opacity: 1;
    }
  }

  &:active {
    transform: translateY(1px);
  }

  &:disabled {
    @include Manifold__Button--Disabled;
  }
}

@mixin Manifold__Button--Black {
  color: color.$color-white;
  background: color.$color-grayDarker;
  border: none;

  &:hover {
    background: color.$color-black;
  }

  &:disabled {
    @include Manifold__Button--Disabled;
  }
}

@mixin Manifold__Button--Brand {
  color: color.$color-white;
  background: gradient.$gradient-brand;
  border: none;

  &:hover {
    filter: saturate(150%);
  }

  &:disabled {
    @include Manifold__Button--Disabled;
  }
}

@mixin Manifold__Button--Danger {
  color: color.$color-red;
  background: color.$color-white;
  border-color: currentColor;

  &:hover {
    background: #fef7f9;
    border-color: currentColor;
  }

  &:disabled {
    @include Manifold__Button--Disabled;
  }
}

@mixin Manifold__Button--Disabled {
  color: color.$color-gray;
  background: color.$color-grayLighter;
  border: 1px solid color.$color-utilitiesGray;
  box-shadow: none;
  cursor: not-allowed;
  opacity: 0.8;

  &:focus,
  &:hover {
    color: color.$color-gray;
    background: color.$color-grayLighter;
    border: 1px solid color.$color-utilitiesGray;
    box-shadow: none;
  }

  &:focus::before {
    opacity: 0;
  }

  &:active {
    color: color.$color-gray;
    background: color.$color-grayLighter;
    border-color: color.$color-utilitiesGray;
    box-shadow: none;
    transform: none;
  }
}

@mixin Manifold__Button--Small {
  padding: 8px 14px;
  font-size: 13px;
}
