@use "../design-tokens/color";
@use "../design-tokens/typography";

$check-box-size: 1rem;
$check-background: '::before';
$check-icon: '::after';
$check-ease-out-exponential: cubic-bezier(0.04, 0.08, 0.5, 0.95);

/* stylelint-disable selector-max-specificity */

@mixin Checkbox {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;

  // ----------
  //  Elements
  // ----------

  label {
    @include typography.Typography--SmallScreenBody;

    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    color: currentColor;
    cursor: pointer;

    @media (min-width: 600px) {
      @include typography.Typography--Body;
    }

    &#{$check-background} {
      order: 0;
      box-sizing: border-box;
      width: $check-box-size;
      height: $check-box-size;
      margin-right: 0.75rem;
      background-color: color.$color-white;
      border: 1px solid color.$color-utilitiesGray;
      border-radius: 4px;
      transition-duration: 150ms;
      transition-property: background-color, border-color;
      content: '';
      pointer-events: none;
    }

    &#{$check-icon} {
      position: absolute;
      left: 1px;
      display: block;
      width: 14px;
      height: 14px;
      background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='%23FFF' fill-rule='evenodd' clip-rule='evenodd' d='M20.707 5.293a1 1 0 010 1.414l-11 11a1 1 0 01-1.414 0l-5-5a1 1 0 111.414-1.414L9 15.586 19.293 5.293a1 1 0 011.414 0z'/%3E%3C/svg%3E");
      transform: scale(0.3);
      opacity: 0;
      transition: background-color 150ms linear, transform 180ms $check-ease-out-exponential;
      content: '';
    }

    &:hover {
      &#{$check-background} {
        border-color: darken(color.$color-utilitiesGray, 10%);
      }
    }
  }

  input {
    position: absolute;
    right: 100vw;
    opacity: 0;
  }

  // ----------
  //  State
  // ----------

  input:disabled {
    ~ label {
      cursor: default;

      &#{$check-background} {
        background: color.$color-grayLighter;
        border-color: color.$color-grayLight;
      }
    }

    &:checked ~ label {
      &#{$check-background} {
        background: color.$color-grayLighter;
        border-color: color.$color-grayLight;
      }

      &#{$check-icon} {
        background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='%238F8F95' fill-rule='evenodd' clip-rule='evenodd' d='M20.707 5.293a1 1 0 010 1.414l-11 11a1 1 0 01-1.414 0l-5-5a1 1 0 111.414-1.414L9 15.586 19.293 5.293a1 1 0 011.414 0z'/%3E%3C/svg%3E");
      }
    }
  }

  &:focus-within {
    label {
      &#{$check-background} {
        box-shadow: 0 0 0 3px color.$color-mutedBlue;
      }
    }
  }

  input:checked ~ label {
    &#{$check-background} {
      background: color.$color-blue;
      border-color: color.$color-blue;
    }

    &#{$check-icon} {
      transform: scale(1);
      opacity: 1;
    }
  }
}
