@use "../design-tokens/color";
@use "../design-tokens/typography";

// ----------
//  Input
// ----------

@mixin Manifold__Input {
  transition: border-color 150ms linear;

  // ----------
  //  Elements
  // ----------

  label {
    @include typography.Manifold__Typography__SubheadingSmall;

    display: block;
    padding-bottom: 0.25rem;
    color: color.$color-grayDark;
    transition-timing-function: linear;
    transition-duration: 150ms;
    transition-property: color;
  }

  input {
    @include typography.Manifold__Typography__SmallScreenBody;

    display: block;
    box-sizing: border-box;
    width: auto;
    min-width: none;
    height: 2.25rem;
    padding: 0 0.75em;
    color: color.$color-grayDarker;
    line-height: 2.25rem;
    background: color.$color-white;
    border: 1px solid color.$color-utilitiesGray;
    border-radius: 3px;
    outline: 0;
    transition-timing-function: linear;
    transition-duration: 150ms;
    transition-property: border-color;
    appearance: none;

    @media (min-width: 600px) {
      @include typography.Manifold__Typography__Body;
    }

    &:hover {
      border-color: color.$color-gray;
    }

    &[type='number'],
    &[inputmode='numeric'],
    &[inputmode='decimal'],
    &[pattern='[0-9]*'],
    &[pattern^='\d'] {
      @include typography.Manifold__Typography__MonoBody;

      text-align: right;
    }
  }

  // ----------
  //  States
  // ----------

  input:invalid,
  input[aria-invalid] {
    border-color: color.$color-red;
    box-shadow: none;
  }

  input:disabled {
    color: color.$color-gray;
    background: color.$color-grayLightest;

    /* stylelint-disable-next-line selector-max-specificity */
    &:hover {
      border-color: color.$color-utilitiesGray;
    }
  }

  &:focus-within {
    label {
      color: color.$color-blue;
    }

    input {
      border-color: color.$color-blue;
    }
  }
}

// ----------
//  Modifiers
// ----------

$input-label-width: 4rem;

@mixin Manifold__Input--Inline {
  position: relative;

  label {
    position: absolute;
    top: 50%;
    width: $input-label-width;
    padding-bottom: 0;
    text-align: center;
    transform: translateY(-50%);
    pointer-events: none;
  }

  input {
    padding-left: $input-label-width;
  }
}
