@use "../design-tokens/color";
@use "../design-tokens/typography";

// ----------
//  Select
// ----------

@mixin Select {
  transition: border-color 150ms linear;

  // ----------
  //  Elements
  // ----------

  label {
    @include typography.Typography__SubheadingSmall;

    display: block;
    padding-bottom: 0.25rem;
    color: color.$color-grayDark;
    transition-timing-function: linear;
    transition-duration: 150ms;
    transition-property: color;
  }

  select {
    @include typography.Typography__SmallScreenBody;

    display: block;
    box-sizing: border-box;
    width: 100%;
    max-width: 100%;
    height: 2.25em;
    margin: 0;
    padding: 0 1.5rem 0 0.75rem;
    color: color.$color-grayDark;
    line-height: 2.25;
    background-color: color.$color-white;
    // https://css-tricks.com/probably-dont-base64-svg/
    background-image: url('data:image/svg+xml,%3Csvg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath fill="%23575b5f" d="M7.558 12.808a.625.625 0 01.884 0l3.308 3.308 3.308-3.308a.625.625 0 11.884.884l-3.75 3.75a.625.625 0 01-.884 0l-3.75-3.75a.625.625 0 010-.884zM15.942 10.192a.625.625 0 01-.884 0L11.75 6.884l-3.308 3.308a.625.625 0 11-.884-.884l3.75-3.75a.625.625 0 01.884 0l3.75 3.75a.625.625 0 010 .884z"/%3E%3C/svg%3E');
    background-repeat: no-repeat, repeat;
    background-position: right 0.25rem top 50%;
    background-size: 1.5rem auto;
    border: 1px solid color.$color-utilitiesGray;
    border-radius: 4px;
    transition: border-color 150ms linear, color 150ms linear;
    -webkit-appearance: none;
    appearance: none;

    &::-ms-expand {
      display: none;
    }

    &:hover {
      border-color: color.$color-gray;
    }

    &:focus {
      outline: none;
    }

    @media (min-width: 600px) {
      @include typography.Typography__Body;
    }
  }

  option {
    font-weight: 400;
  }

  // ----------
  //  States
  // ----------

  select:invalid,
  select[aria-invalid] {
    background-image: url('data:image/svg+xml,%3Csvg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath fill="%23d52049" d="M7.558 12.808a.625.625 0 01.884 0l3.308 3.308 3.308-3.308a.625.625 0 11.884.884l-3.75 3.75a.625.625 0 01-.884 0l-3.75-3.75a.625.625 0 010-.884zM15.942 10.192a.625.625 0 01-.884 0L11.75 6.884l-3.308 3.308a.625.625 0 11-.884-.884l3.75-3.75a.625.625 0 01.884 0l3.75 3.75a.625.625 0 010 .884z"/%3E%3C/svg%3E');
    border-color: color.$color-red;
    box-shadow: none;
  }

  select:disabled {
    color: color.$color-gray;
    background-color: color.$color-grayLightest;
    background-image: url('data:image/svg+xml,%3Csvg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath fill="%238f8f95" d="M7.558 12.808a.625.625 0 01.884 0l3.308 3.308 3.308-3.308a.625.625 0 11.884.884l-3.75 3.75a.625.625 0 01-.884 0l-3.75-3.75a.625.625 0 010-.884zM15.942 10.192a.625.625 0 01-.884 0L11.75 6.884l-3.308 3.308a.625.625 0 11-.884-.884l3.75-3.75a.625.625 0 01.884 0l3.75 3.75a.625.625 0 010 .884z"/%3E%3C/svg%3E');

    /* stylelint-disable-next-line selector-max-specificity */
    &:hover {
      border-color: color.$color-utilitiesGray;
    }
  }

  &:focus-within {
    label {
      color: color.$color-blue;
    }

    select {
      border-color: color.$color-blue;
    }
  }
}

// ----------
//  Modifiers
// ----------

$select-label-width: 4rem;

@mixin Select--Inline {
  position: relative;

  label {
    position: absolute;
    top: 50%;
    width: $select-label-width;
    padding-bottom: 0;
    text-align: center;
    transform: translateY(-50%);
    pointer-events: none;
  }

  select {
    padding-left: $select-label-width;
  }
}
