@mixin Manifold__Skeleton {
  @keyframes Manifold__Skeleton__Animation {
    to {
      transform: translateX(125%);
    }
  }

  position: relative;
  display: inline-block;
  overflow: hidden;
  color: transparent;
  line-height: 1;
  border-radius: 2px;
  user-select: none;

  &::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(
      rgba(0, 0, 0, 0.1),
      rgba(0, 0, 0, 0.1) 1em,
      rgba(0, 0, 0, 0) 1em,
      rgba(0, 0, 0, 0) 1.5em
    );
    background-repeat: repeat-y;
    background-size: 100% 1.5em;
    content: '';
    pointer-events: none;
  }

  &::after {
    position: absolute;
    top: 0;
    right: 100%;
    width: 60em; // derived from font size
    height: 100%;
    background-image: linear-gradient(
      60deg,
      rgba(255, 255, 255, 0) 33.3333%,
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0) 66.6666%
    );
    background-repeat: no-repeat;
    opacity: 0.4;
    animation-name: Manifold__Skeleton__Animation;
    animation-duration: 1.4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    content: '';
    pointer-events: none;
  }
}

@mixin Manifold__Skeleton--White {
  &::before {
    background-image: linear-gradient(
      rgba(255, 255, 255, 0.25),
      rgba(255, 255, 255, 0.25) 1em,
      rgba(255, 255, 255, 0) 1em,
      rgba(255, 255, 255, 0) 1.4em
    );
  }

  &::after {
    background-image: linear-gradient(
      60deg,
      rgba(255, 255, 255, 0) 33.3333%,
      rgba(255, 255, 255, 0.1),
      rgba(255, 255, 255, 0) 66.6666%
    );
  }
}
