@use "../design-tokens/color";
@use "../design-tokens/typography";
@use "../design-tokens/shadow";

$tooltip-arrow-width: 5px;
$tooltip-color: color.$color-grayDarker;
$tooltip-margin: 8px;

@mixin Manifold__Tooltip__Container {
  position: relative;
  cursor: pointer;

  .Manifold__Tooltip {
    position: absolute;
    opacity: 0;
    bottom: 100%;
    left: 50%;
    transform: translate(-50%, 0);
    transform-origin: top;
    transition: all 0.1s ease-in-out 0.1s;
    margin-bottom: $tooltip-margin;

    &--Down {
      bottom: auto;
      top: 100%;
      margin-top: $tooltip-margin;
    }

    &--Left {
      bottom: auto;
      left: auto;
      right: 100%;
      top: 50%;
      margin-right: $tooltip-margin;
      transform: translate(4px, -50%);
    }

    &--Right {
      bottom: auto;
      left: 100%;
      top: 50%;
      margin-left: $tooltip-margin;
      transform: translate(-4px, -50%);
    }
  }

  &:hover {
    .Manifold__Tooltip {
      opacity: 1;
      transform: translate(-50%, -4px);

      &--Down {
        transform: translate(-50%, 4px);
      }

      &--Left {
        transform: translate(0, -50%);
      }

      &--Right {
        transform: translate(0, -50%);
      }
    }
  }
}

@mixin Manifold__Tooltip {
  position: relative;
  padding: 8px 12px;
  background: $tooltip-color;
  color: color.$color-white;
  border-radius: 4px;
  text-align: center;
  @include typography.Manifold__Typography__Caption;
  line-height: 1.25;
  box-shadow: shadow.$shadow-near;
  white-space: nowrap;
  cursor: default;
  pointer-events: none;
  text-indent: 0;

  &::after {
    position: absolute;
    top: 100%;
    left: 50%;
    border: solid transparent;
    content: '';
    height: 0;
    width: 0;
    pointer-events: none;
    border-color: rgba(0, 0, 0, 0);
    border-top-color: $tooltip-color;
    border-width: $tooltip-arrow-width;
    margin-left: -$tooltip-arrow-width;
  }
}

@mixin Manifold__Tooltip--Down {
  &::after {
    top: auto;
    bottom: 100%;
    border-color: rgba(0, 0, 0, 0);
    border-bottom-color: $tooltip-color;
  }
}

@mixin Manifold__Tooltip--Left {
  &::after {
    top: 50%;
    left: 100%;
    margin-left: 0;
    margin-top: -$tooltip-arrow-width;
    border-color: rgba(0, 0, 0, 0);
    border-left-color: $tooltip-color;
  }
}

@mixin Manifold__Tooltip--Right {
  &::after {
    top: 50%;
    right: 100%;
    left: auto;
    margin-left: 0;
    margin-top: -$tooltip-arrow-width;
    border-color: rgba(0, 0, 0, 0);
    border-right-color: $tooltip-color;
  }
}

@mixin Manifold__Tooltip--Large {
  white-space: normal;
  width: 260px;
}
