/* stylelint-disable selector-max-specificity */

@use "../design-tokens/color";
@use "../design-tokens/typography";
@use "../design-tokens/shadow";

$tooltip-arrow-size: 5px;
$tooltip-color: color.$color-grayDarker;
$tooltip-margin: 8px;

@mixin Manifold__Tooltip__Container {
  position: relative;
  cursor: pointer;

  [role='tooltip'] {
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-bottom: $tooltip-margin;
    transform: translate(-50%, 0);
    transform-origin: top;
    opacity: 0;
    transition: all 0.1s ease-in-out 0.1s;
  }

  &:hover {
    [role='tooltip'] {
      transform: translate(-50%, -4px);
      opacity: 1;
    }
  }
}

@mixin Manifold__Tooltip__Container--Down {
  [role='tooltip'] {
    top: 100%;
    bottom: auto;
    margin-top: $tooltip-margin + $tooltip-arrow-size;
    transform: translate(-50%, -4px);
  }
  &:hover {
    [role='tooltip'] {
      transform: translate(-50%, 0);
    }
  }
}

@mixin Manifold__Tooltip__Container--Left {
  [role='tooltip'] {
    top: 50%;
    right: 100%;
    bottom: auto;
    left: auto;
    margin-right: $tooltip-margin + $tooltip-arrow-size;
    transform: translate(4px, -50%);
  }
  &:hover {
    [role='tooltip'] {
      transform: translate(0, -50%);
    }
  }
}

@mixin Manifold__Tooltip__Container--Right {
  [role='tooltip'] {
    top: 50%;
    bottom: auto;
    left: 100%;
    margin-left: $tooltip-margin + $tooltip-arrow-size;
    transform: translate(-4px, -50%);
  }
  &:hover {
    [role='tooltip'] {
      transform: translate(0, -50%);
    }
  }
}

@mixin Manifold__Tooltip {
  position: relative;
  padding: 8px 12px;
  color: color.$color-white;
  white-space: nowrap;
  text-align: center;
  text-indent: 0;
  background: $tooltip-color;
  border-radius: 4px;
  box-shadow: shadow.$shadow-near;
  cursor: default;
  pointer-events: none;
  @include typography.Manifold__Typography__Caption;

  &::after {
    position: absolute;
    top: 100%;
    left: 50%;
    width: 0;
    height: 0;
    margin-left: -$tooltip-arrow-size;
    border: solid transparent;
    border-color: rgba(0, 0, 0, 0);
    border-width: $tooltip-arrow-size;
    border-top-color: $tooltip-color;
    content: '';
    pointer-events: none;
  }
}

@mixin Manifold__Tooltip--Down {
  &::after {
    top: auto;
    bottom: 100%;
    border-color: rgba(0, 0, 0, 0);
    border-bottom-color: $tooltip-color;
  }
}

@mixin Manifold__Tooltip--Left {
  &::after {
    top: 50%;
    left: 100%;
    margin-top: -$tooltip-arrow-size;
    margin-left: 0;
    border-color: rgba(0, 0, 0, 0);
    border-left-color: $tooltip-color;
  }
}

@mixin Manifold__Tooltip--Right {
  &::after {
    top: 50%;
    right: 100%;
    left: auto;
    margin-top: -$tooltip-arrow-size;
    margin-left: 0;
    border-color: rgba(0, 0, 0, 0);
    border-right-color: $tooltip-color;
  }
}

@mixin Manifold__Tooltip--Large {
  width: 260px;
  line-height: 1.25;
  white-space: normal;
}
