name: npm-publish

on:
  push:
    branches:
      - master

jobs:
  npm-publish:
    if: github.actor == 'manifold-dangerzone' # only run after figma_update workflow (not dependabot)
    runs-on: ubuntu-latest
    env:
      NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
      - run: npm install
      - run: npm version patch
      - run: make package
      - run: 'echo "//registry.npmjs.org/:_authToken=${{ secrets.NPM_TOKEN }}" > ~/.npmrc'
      - run: 'cd pkg && npm publish --tag latest'
