@use "../src/index.scss" as mercury;

.Story__Demo {
  margin: auto;
  flex-direction: column;
  align-items: start;
}

// ----------
// Block
// ----------

.Manifold-Checkbox {
  @include mercury.Checkbox;
}
