@use "../src/index.scss" as mercury;

// ----------
//  Icon
// ----------

.Icon {
  &__Copy {
    button {
      @include mercury.Manifold__Typography__SubheadingSmall;

      display: flex;
      align-items: center;
      padding: 0;
      color: mercury.$color-grayDark;
      background: none;
      border: none;
      cursor: pointer;
      transition: color 150ms linear;
      appearance: none;

      &:hover {
        color: mercury.$color-blue;
      }
    }

    svg {
      display: block;
      width: 1em;
      height: 1em;
      margin-right: 0.5em;
    }
  }

  &__SVG {
    padding: 1rem;

    svg {
      display: block;
      width: 2rem;
      height: 2rem;
    }
  }

  &__Name {
    display: flex;
    justify-content: space-between;
    padding: 0 1rem 1rem 1rem;
    font-size: 10px;
    font-family: mercury.$typography-monoBody-fontFamily;
  }

  &__Grid {
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    padding: 2rem;
    background: mercury.$color-grayLightest;
  }
}
