@use "../src/index.scss" as mercury;

// ----------
//  Icon
// ----------

.Icon {
  &__SVG {
    padding: 1rem;

    & svg {
      display: block;
      width: 2rem;
      height: 2rem;
    }
  }

  &__Name {
    padding: 0 1rem 1rem 1rem;
    font-size: 10px;
    font-family: mercury.$typography-monoBody-fontFamily;
  }

  &__Grid {
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    padding: 2rem;
    background: mercury.$color-grayLightest;
  }
}
