@use "../src/index.scss" as mercury;

.Story__Demo {
  flex-direction: column;
  align-items: start;
  margin: auto;
}

// ----------
// Block
// ----------

.Manifold-Radio {
  margin: 0.5rem 1rem;
  @include mercury.Radio;
}
