@use "../src/index.scss" as mercury;

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap');

body {
  font-family: mercury.$typography-body-fontFamily;
  font-size: 16px;
}

.Button {
  @include mercury.Manifold__Button;

  &--Black {
    @include mercury.Manifold__Button--Black;
  }

  &--Brand {
    @include mercury.Manifold__Button--Brand;
  }

  &--Danger {
    @include mercury.Manifold__Button--Danger;
  }

  &--Small {
    @include mercury.Manifold__Button--Small;
  }

  &__Code {
    margin: 0.5rem 0 0;

    & dt {
      font-size: 12px;
      font-weight: 700;
    }

    & dd {
      font-family: mercury.$typography-monoBody-fontFamily;
      font-size: 10px;
      margin: 0;
    }
  }

  &__Table {
    border-collapse: collapse;
    width: 100%;

    & td {
      padding: 1rem 0.5rem;
    }

    & th {
      background-color: #f5f5f5;
      text-align: left;
      padding: 1rem 0.5rem;
    }
  }
}

.Icon {
  box-shadow: 0 5px 6px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  display: flex;
  flex-direction: column;

  &__SVG {
    padding: 1rem;

    & svg {
      display: block;
      height: 2rem;
      width: 2rem;
    }
  }

  &__Name {
    font-family: mercury.$typography-monoBody-fontFamily;
    font-size: 10px;
    padding: 0 1rem 1rem 1rem;
  }

  &__Grid {
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

.Swatch {
  box-shadow: 0 5px 6px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  padding-bottom: 1rem;

  &__Color {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom: 1px solid #f0f0f0;
    margin-top: 1rem;
    padding-top: 75%;
  }

  &__Grid {
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
    padding-left: 2rem;
    padding-right: 2rem;
  }

  &__Name,
  &__Code {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  &__Name {
    font-size: 14px;
    margin-bottom: 0.75rem;
    padding-top: 1rem;
  }

  &__Code {
    grid-template-columns: min-content auto;
    margin: 0;

    & dt {
      display: block;
      font-size: 12px;
      font-weight: 700;
    }

    & dd {
      font-family: mercury.$typography-monoBody-fontFamily;
      font-size: 10px;
      margin: 0;

      & + dt {
        margin-top: 0.5rem;
      }
    }
  }
}

.Typography {
  &__Code {
    display: grid;
    grid-gap: 0.5rem 1rem;
    grid-template-columns: min-content auto;
    margin: 0.5rem 0 0;
    padding-right: 1rem;

    & dt {
      font-size: 12px;
      font-weight: 700;
    }

    & dd {
      font-family: mercury.$typography-monoBody-fontFamily;
      font-size: 10px;
      margin: 0;
    }
  }

  &__Table {
    border-collapse: collapse;
    width: 100%;

    & td {
      border-bottom: 1px solid #f0f0f0;
      border-top: 1px solid #f0f0f0;
      padding: 1rem 0.5rem;
      vertical-align: top;
    }

    & th {
      background-color: #f5f5f5;
      text-align: left;
      padding: 1rem 0.5rem;
    }
  }
}
