@use "../src/index.scss" as mercury;

// ----------
// Block
// ----------

.Manifold__Tooltip__Container {
  @include mercury.Manifold__Tooltip__Container;
}

.Manifold__Tooltip {
  @include mercury.Manifold__Tooltip;

  // ----------
  //  Modifiers
  // ----------

  &--Down {
    @include mercury.Manifold__Tooltip--Down;
  }

  &--Left {
    @include mercury.Manifold__Tooltip--Left;
  }

  &--Right {
    @include mercury.Manifold__Tooltip--Right;
  }

  &--Large {
    @include mercury.Manifold__Tooltip--Large;
  }
}
